<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title th:text="${historico.id != null ? 'Editar Histórico de Interações' : 'Criar Histórico de Interações'}"></title>
    <style>
        .form-container {
            background-color: #f8f9fa;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-label {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 0.25rem;
            transition: background-color 0.3s, border-color 0.3s;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .invalid-feedback {
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <h1 class="mb-4 text-center">Historico de Interações</h1>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 form-container">
            <form th:action="@{/historico/salvar}" method="post" th:object="${historico}">

                <!-- Proposta de Negócio -->
                <div class="mb-3">
                    <label for="propostaNegocio" class="form-label">Qual é a proposta de negócio?</label>
                    <input type="text" id="propostaNegocio" th:field="*{propostaNegocio}" class="form-control" th:errorclass="is-invalid"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('propostaNegocio')}" th:errors="*{propostaNegocio}">Proposta de negócio inválida</div>
                </div>

                <!-- Contrato Assinado -->
                <div class="mb-3">
                    <label for="contratoAssinado" class="form-label">Contrato Assinado:</label>
                    <select id="contratoAssinado" th:field="*{contratoAssinado}" class="form-select" th:errorclass="is-invalid">
                        <option value="" disabled>Selecione uma opção</option>
                        <option th:each="opcao : ${opcoesContrato}"
                                th:value="${opcao.name()}"
                                th:text="${opcao.descricao}"
                                th:selected="${opcao == 'Sim'}"></option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('contratoAssinado')}" th:errors="*{contratoAssinado}">Opção de contrato inválida</div>
                </div>

                <!-- Feedback sobre Serviços e Produtos -->
                <div class="mb-3">
                    <label for="feedbackServicosProdutos" class="form-label">Como foi o feedback sobre serviços e produtos?</label>
                    <textarea id="feedbackServicosProdutos" th:field="*{feedbackServicosProdutos}" class="form-control" rows="4"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('feedbackServicosProdutos')}" th:errors="*{feedbackServicosProdutos}">Feedback inválido</div>
                </div>

                <!-- Empresa -->
                <div class="mb-3">
                    <label for="empresa" class="form-label">Selecione a empresa associada:</label>
                    <select class="form-select" id="empresa" th:field="*{empresa.id}" th:errorclass="is-invalid">
                        <option value="" selected>Selecione a Empresa</option>
                        <option th:each="e : ${empresas}" th:value="${e.id}" th:text="${e.nome}"></option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('empresa.id')}" th:errors="*{empresa.id}">Empresa inválida</div>
                </div>

                <!-- Botões -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-secondary" th:href="@{/empresas/{id}/detalhes(id=${historico.empresa.id})}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
